ALTER TABLE beverage_order_item DROP FOREIGN KEY FK_beverage_order_item_product;
ALTER TABLE beverage_order_item ADD CONSTRAINT FK_60C6491E63DE102E FOREIGN KEY (beverage_order_id) REFERENCES beverage_order (id);
DROP INDEX idx_beverage_order_item_order ON beverage_order_item;
CREATE INDEX IDX_60C6491E63DE102E ON beverage_order_item (beverage_order_id);
DROP INDEX idx_beverage_order_item_product ON beverage_order_item;
CREATE INDEX IDX_60C6491E4584665A ON beverage_order_item (product_id);
ALTER TABLE beverage_order_item ADD CONSTRAINT FK_beverage_order_item_product FOREIGN KEY (product_id) REFERENCES beverage_product (id);
ALTER TABLE loyalty_point DROP FOREIGN KEY fk_loyalty_point_senior;
ALTER TABLE loyalty_point ADD CONSTRAINT FK_1D53135FAB8E2 FOREIGN KEY (senior_id) REFERENCES `user` (id);
ALTER TABLE loyalty_reward DROP FOREIGN KEY fk_loyalty_reward_senior;
ALTER TABLE loyalty_reward ADD CONSTRAINT FK_89AC2C07AB8E2 FOREIGN KEY (senior_id) REFERENCES `user` (id);
ALTER TABLE subscription DROP FOREIGN KEY FK_A3C664D3B8B48327;
ALTER TABLE subscription DROP FOREIGN KEY FK_A3C664D37808B1AD;
ALTER TABLE subscription DROP FOREIGN KEY FK_A3C664D3B8B48327;
ALTER TABLE subscription ADD CONSTRAINT FK_A3C664D3AB8E2 FOREIGN KEY (senior_id) REFERENCES `user` (id);
ALTER TABLE subscription ADD CONSTRAINT FK_A3C664D37808B1AD FOREIGN KEY (subscriber_id) REFERENCES `user` (id);
DROP INDEX idx_a3c664d3b8b48327 ON subscription;
CREATE INDEX IDX_A3C664D3AB8E2 ON subscription (senior_id);
ALTER TABLE subscription ADD CONSTRAINT FK_A3C664D3B8B48327 FOREIGN KEY (senior_id) REFERENCES user (id) ON DELETE CASCADE;
ALTER TABLE verification_request DROP FOREIGN KEY FK_VR_USER;
ALTER TABLE verification_request DROP FOREIGN KEY FK_VR_REVIEWER;
ALTER TABLE verification_request DROP FOREIGN KEY FK_VR_USER;
ALTER TABLE verification_request DROP FOREIGN KEY FK_VR_REVIEWER;
ALTER TABLE verification_request ADD CONSTRAINT FK_20FDDF4EA76ED395 FOREIGN KEY (user_id) REFERENCES `user` (id);
ALTER TABLE verification_request ADD CONSTRAINT FK_20FDDF4EFC6B21F1 FOREIGN KEY (reviewed_by_id) REFERENCES `user` (id);
DROP INDEX idx_vr_user ON verification_request;
CREATE INDEX IDX_20FDDF4EA76ED395 ON verification_request (user_id);
DROP INDEX idx_vr_reviewer ON verification_request;
CREATE INDEX IDX_20FDDF4EFC6B21F1 ON verification_request (reviewed_by_id);
ALTER TABLE verification_request ADD CONSTRAINT FK_VR_USER FOREIGN KEY (user_id) REFERENCES user (id) ON DELETE CASCADE;
ALTER TABLE verification_request ADD CONSTRAINT FK_VR_REVIEWER FOREIGN KEY (reviewed_by_id) REFERENCES user (id) ON DELETE SET NULL;
