ALTER TABLE health_journal CHANGE humeur humeur VARCHAR(100) DEFAULT NULL, CHANGE qualite_sommeil qualite_sommeil VARCHAR(100) DEFAULT NULL, CHANGE appetit appetit VARCHAR(100) DEFAULT NULL, CHANGE tension_arterielle tension_arterielle VARCHAR(50) DEFAULT NULL, CHANGE temperature temperature DOUBLE PRECISION DEFAULT NULL, CHANGE activite_physique activite_physique VARCHAR(255) DEFAULT NULL, CHANGE hydratation hydratation VARCHAR(50) DEFAULT NULL;
ALTER TABLE intervention CHANGE types_services types_services VARCHAR(255) DEFAULT NULL, CHANGE competences competences VARCHAR(255) DEFAULT NULL, CHANGE tarif_horaire tarif_horaire NUMERIC(10, 2) DEFAULT NULL, CHANGE zone_intervention zone_intervention VARCHAR(255) DEFAULT NULL, CHANGE technicien_nom technicien_nom VARCHAR(255) DEFAULT NULL, CHANGE technicien_email technicien_email VARCHAR(255) DEFAULT NULL, CHANGE technicien_telephone technicien_telephone VARCHAR(255) DEFAULT NULL, CHANGE date_creation date_creation DATETIME DEFAULT NULL, CHANGE date_debut date_debut DATETIME DEFAULT NULL, CHANGE date_fin date_fin DATETIME DEFAULT NULL, CHANGE payment_date payment_date DATETIME DEFAULT NULL, CHANGE payment_method payment_method VARCHAR(50) DEFAULT NULL;
ALTER TABLE service_request CHANGE senior_telephone senior_telephone VARCHAR(20) DEFAULT NULL, CHANGE senior_email senior_email VARCHAR(100) DEFAULT NULL, CHANGE adresse adresse VARCHAR(255) DEFAULT NULL, CHANGE ville ville VARCHAR(100) DEFAULT NULL, CHANGE code_postal code_postal VARCHAR(20) DEFAULT NULL, CHANGE date_souhaitee date_souhaitee DATETIME DEFAULT NULL, CHANGE budget_minimum budget_minimum NUMERIC(10, 2) DEFAULT NULL, CHANGE budget_maximum budget_maximum NUMERIC(10, 2) DEFAULT NULL, CHANGE technicien_nom technicien_nom VARCHAR(100) DEFAULT NULL, CHANGE date_assignation date_assignation DATETIME DEFAULT NULL, CHANGE date_debut date_debut DATETIME DEFAULT NULL, CHANGE date_fin date_fin DATETIME DEFAULT NULL;
ALTER TABLE treatment CHANGE posologie posologie VARCHAR(255) DEFAULT NULL, CHANGE frequence frequence VARCHAR(100) DEFAULT NULL, CHANGE date_fin date_fin DATETIME DEFAULT NULL, CHANGE statut statut VARCHAR(50) DEFAULT NULL;
ALTER TABLE user CHANGE password password VARCHAR(255) DEFAULT NULL, CHANGE roles roles JSON NOT NULL, CHANGE first_name first_name VARCHAR(100) DEFAULT NULL, CHANGE last_name last_name VARCHAR(100) DEFAULT NULL, CHANGE phone phone VARCHAR(20) DEFAULT NULL, CHANGE last_login_at last_login_at DATETIME DEFAULT NULL, CHANGE face_encoding face_encoding JSON DEFAULT NULL, CHANGE face_image_path face_image_path VARCHAR(255) DEFAULT NULL, CHANGE face_consent_at face_consent_at DATETIME DEFAULT NULL, CHANGE image_profil image_profil VARCHAR(255) DEFAULT NULL, CHANGE date_naissance date_naissance DATE DEFAULT NULL, CHANGE adresse adresse VARCHAR(255) DEFAULT NULL, CHANGE ville ville VARCHAR(100) DEFAULT NULL, CHANGE code_postal code_postal VARCHAR(20) DEFAULT NULL, CHANGE pays pays VARCHAR(100) DEFAULT NULL, CHANGE location location VARCHAR(255) DEFAULT NULL, CHANGE reset_token reset_token VARCHAR(100) DEFAULT NULL, CHANGE reset_token_expires_at reset_token_expires_at DATETIME DEFAULT NULL, CHANGE verification_code verification_code VARCHAR(10) DEFAULT NULL, CHANGE specialite specialite VARCHAR(100) DEFAULT NULL, CHANGE tarif_horaire tarif_horaire NUMERIC(10, 2) DEFAULT NULL, CHANGE user_domain user_domain VARCHAR(50) DEFAULT NULL, CHANGE verified_at verified_at DATETIME DEFAULT NULL, CHANGE verification_badge_type verification_badge_type VARCHAR(20) DEFAULT NULL, CHANGE last_strike_at last_strike_at DATETIME DEFAULT NULL;
ALTER TABLE rapport_hebdomadaire CHANGE aliments_problematiques aliments_problematiques JSON NOT NULL;
ALTER TABLE subscription_plan CHANGE stripe_price_id stripe_price_id VARCHAR(100) DEFAULT NULL;
ALTER TABLE activites CHANGE end_time end_time DATETIME DEFAULT NULL, CHANGE location location VARCHAR(255) DEFAULT NULL;
ALTER TABLE beverage CHANGE nutritional_info nutritional_info JSON DEFAULT NULL, CHANGE health_benefits health_benefits JSON DEFAULT NULL, CHANGE image_url image_url VARCHAR(255) DEFAULT NULL, CHANGE origin origin VARCHAR(100) DEFAULT NULL, CHANGE brand brand VARCHAR(100) DEFAULT NULL;
ALTER TABLE beverage_log CHANGE custom_beverage_name custom_beverage_name VARCHAR(150) DEFAULT NULL, CHANGE category category VARCHAR(50) DEFAULT NULL, CHANGE moment moment VARCHAR(30) DEFAULT NULL, CHANGE meal_context meal_context JSON DEFAULT NULL;
ALTER TABLE beverage_order CHANGE order_number order_number VARCHAR(50) DEFAULT NULL, CHANGE shipping_address shipping_address VARCHAR(255) DEFAULT NULL, CHANGE shipping_city shipping_city VARCHAR(100) DEFAULT NULL, CHANGE shipping_postal_code shipping_postal_code VARCHAR(20) DEFAULT NULL, CHANGE phone phone VARCHAR(20) DEFAULT NULL, CHANGE payment_method payment_method VARCHAR(50) DEFAULT NULL, CHANGE confirmed_at confirmed_at DATETIME DEFAULT NULL, CHANGE shipped_at shipped_at DATETIME DEFAULT NULL, CHANGE delivered_at delivered_at DATETIME DEFAULT NULL;
ALTER TABLE beverage_order RENAME INDEX uniq_beverage_order_number TO UNIQ_31F79165551F0F81;
ALTER TABLE beverage_order RENAME INDEX idx_beverage_order_user TO IDX_31F79165A76ED395;
ALTER TABLE beverage_order_item DROP FOREIGN KEY FK_beverage_order_item_order;
ALTER TABLE beverage_order_item ADD CONSTRAINT FK_60C6491E63DE102E FOREIGN KEY (beverage_order_id) REFERENCES beverage_order (id);
ALTER TABLE beverage_order_item RENAME INDEX idx_beverage_order_item_order TO IDX_60C6491E63DE102E;
ALTER TABLE beverage_order_item RENAME INDEX idx_beverage_order_item_product TO IDX_60C6491E4584665A;
ALTER TABLE beverage_product CHANGE sale_price sale_price NUMERIC(10, 2) DEFAULT NULL, CHANGE health_benefits health_benefits JSON DEFAULT NULL, CHANGE nutritional_info nutritional_info JSON DEFAULT NULL, CHANGE brand brand VARCHAR(100) DEFAULT NULL, CHANGE origin origin VARCHAR(100) DEFAULT NULL, CHANGE volume volume VARCHAR(50) DEFAULT NULL, CHANGE image_url image_url VARCHAR(255) DEFAULT NULL, CHANGE average_rating average_rating NUMERIC(3, 2) DEFAULT NULL;
ALTER TABLE connection_invite CHANGE responded_at responded_at DATETIME DEFAULT NULL;
ALTER TABLE conversation CHANGE last_message_at last_message_at DATETIME DEFAULT NULL;
ALTER TABLE demande_regime CHANGE code_barres_photo code_barres_photo VARCHAR(255) DEFAULT NULL, CHANGE code_barres_numero code_barres_numero VARCHAR(20) DEFAULT NULL, CHANGE produit_analyse produit_analyse JSON DEFAULT NULL, CHANGE date_traitement date_traitement DATETIME DEFAULT NULL, CHANGE poids poids DOUBLE PRECISION DEFAULT NULL, CHANGE taille taille DOUBLE PRECISION DEFAULT NULL, CHANGE niveau_activite niveau_activite VARCHAR(30) DEFAULT NULL, CHANGE numero_proche numero_proche VARCHAR(20) DEFAULT NULL;
ALTER TABLE loyalty_point DROP FOREIGN KEY fk_loyalty_point_senior;
ALTER TABLE loyalty_point CHANGE expires_at expires_at DATETIME DEFAULT NULL;
ALTER TABLE loyalty_point ADD CONSTRAINT FK_1D53135FAB8E2 FOREIGN KEY (senior_id) REFERENCES `user` (id);
ALTER TABLE loyalty_reward DROP FOREIGN KEY fk_loyalty_reward_senior;
ALTER TABLE loyalty_reward CHANGE ml_confidence ml_confidence DOUBLE PRECISION DEFAULT NULL, CHANGE ml_features ml_features JSON DEFAULT NULL, CHANGE redeemed_at redeemed_at DATETIME DEFAULT NULL, CHANGE expires_at expires_at DATETIME DEFAULT NULL;
ALTER TABLE loyalty_reward ADD CONSTRAINT FK_89AC2C07AB8E2 FOREIGN KEY (senior_id) REFERENCES `user` (id);
ALTER TABLE message CHANGE attachment_path attachment_path VARCHAR(500) DEFAULT NULL;
ALTER TABLE participations CHANGE title title VARCHAR(255) DEFAULT NULL, CHANGE registered_at registered_at DATETIME DEFAULT NULL, CHANGE registration_method registration_method VARCHAR(50) DEFAULT NULL, CHANGE presence_confirmation_date presence_confirmation_date DATETIME DEFAULT NULL, CHANGE share_with_family share_with_family VARCHAR(50) DEFAULT NULL;
ALTER TABLE post CHANGE updated_at updated_at DATETIME DEFAULT NULL;
ALTER TABLE post_comment CHANGE updated_at updated_at DATETIME DEFAULT NULL;
ALTER TABLE post_media CHANGE original_name original_name VARCHAR(255) DEFAULT NULL;
ALTER TABLE regime_prescrit CHANGE poids_actuel poids_actuel DOUBLE PRECISION DEFAULT NULL, CHANGE taille taille DOUBLE PRECISION DEFAULT NULL, CHANGE niveau_activite niveau_activite VARCHAR(30) DEFAULT NULL, CHANGE texture_alimentaire texture_alimentaire VARCHAR(30) DEFAULT NULL;
ALTER TABLE subscription DROP FOREIGN KEY FK_A3C664D3B8B48327;
ALTER TABLE subscription DROP FOREIGN KEY FK_A3C664D37808B1AD;
ALTER TABLE subscription CHANGE stripe_subscription_id stripe_subscription_id VARCHAR(255) DEFAULT NULL, CHANGE stripe_customer_id stripe_customer_id VARCHAR(255) DEFAULT NULL, CHANGE end_date end_date DATETIME DEFAULT NULL, CHANGE next_billing_date next_billing_date DATETIME DEFAULT NULL, CHANGE cancelled_at cancelled_at DATETIME DEFAULT NULL;
ALTER TABLE subscription ADD CONSTRAINT FK_A3C664D3AB8E2 FOREIGN KEY (senior_id) REFERENCES `user` (id);
ALTER TABLE subscription ADD CONSTRAINT FK_A3C664D37808B1AD FOREIGN KEY (subscriber_id) REFERENCES `user` (id);
ALTER TABLE subscription RENAME INDEX idx_a3c664d3b8b48327 TO IDX_A3C664D3AB8E2;
ALTER TABLE suivi_repas CHANGE photo_url photo_url VARCHAR(255) DEFAULT NULL, CHANGE aliments_identifies aliments_identifies JSON NOT NULL, CHANGE portions_estimees portions_estimees JSON DEFAULT NULL, CHANGE mode_cuisson mode_cuisson VARCHAR(30) DEFAULT NULL, CHANGE analyse_texture analyse_texture JSON DEFAULT NULL, CHANGE details_nutriments details_nutriments JSON DEFAULT NULL;
ALTER TABLE user_social_account CHANGE provider_email provider_email VARCHAR(255) DEFAULT NULL, CHANGE provider_display_name provider_display_name VARCHAR(255) DEFAULT NULL, CHANGE avatar_url avatar_url VARCHAR(500) DEFAULT NULL, CHANGE last_used_at last_used_at DATETIME DEFAULT NULL;
ALTER TABLE verification_request DROP FOREIGN KEY FK_VR_USER;
ALTER TABLE verification_request DROP FOREIGN KEY FK_VR_REVIEWER;
ALTER TABLE verification_request CHANGE ai_report ai_report JSON DEFAULT NULL, CHANGE ai_score ai_score DOUBLE PRECISION DEFAULT NULL, CHANGE reviewed_at reviewed_at DATETIME DEFAULT NULL;
ALTER TABLE verification_request ADD CONSTRAINT FK_20FDDF4EA76ED395 FOREIGN KEY (user_id) REFERENCES `user` (id);
ALTER TABLE verification_request ADD CONSTRAINT FK_20FDDF4EFC6B21F1 FOREIGN KEY (reviewed_by_id) REFERENCES `user` (id);
ALTER TABLE verification_request RENAME INDEX idx_vr_user TO IDX_20FDDF4EA76ED395;
ALTER TABLE verification_request RENAME INDEX idx_vr_reviewer TO IDX_20FDDF4EFC6B21F1;
ALTER TABLE messenger_messages CHANGE delivered_at delivered_at DATETIME DEFAULT NULL;
