<form method="post" action="{{ path('app_admin_health_delete', {'id': treatment.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ treatment.id) }}">
    <button class="btn btn-danger mt-3">Supprimer</button>
</form>
